body{
    background:linear-gradient(to right,#3E5151,#DECBA4) ;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
     align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;

}

.container{
    background-color: #3E5151;
    color: aliceblue;
    padding: 50px 100px 50px 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* height: 300px;
    width: 500px; */
    /* gap:50px;
    column-gap: 100px; */
}

        
.currency-container{
    padding: 60px;
    display: flex;
    justify-content: space-between;

}     
        
.currency-container{
    padding: 10px;
}

.currency-container input{
    border: 0;
    background: transparent;
    font-size: 20px;
    text-align: right;
    color: aliceblue;
}

.exchange-rate{
    font-size: 20px;
    font-weight: 700;
}

select:focus,
input:focus{
    outline:0;
}

